/***************Class Selectors ************/
.top-container
{
    background-color: #E4F9F5;
    margin-top: 0px;
    margin: 0px;
    border:solid;
    padding: 20px;
    margin: 10px;
    position:relative;
    padding-top: 100px;
}


.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position:absolute;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}

.skills{
    font-weight: bold;
}

.contact-me{
    font-weight: bold;

}

.Linkdn-link{
    color: #11999E;
}

.Twitter-link{
    color: #11999E;

}


.Website{
    color: #11999E;
}

.myphoto
{
    width: 25%;
}

.skill-row{
    width:50%;
  
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.Grill-Chicken{
    width: 25%;
    float: left;
}
.Java{
    width: 25%;
    float: left;
}

.Python{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.skills{
    display: block;
    margin:auto;
}
.Front-end{
    width: 40%;
}

.Spring{
    width: 25%;
    
    margin-left: 30px;
}

.content{
    margin-right: 30px;
}

.d{
    
    margin:100px auto;


}
.skill-row{
   line-height: 2;
    margin:100px auto;
    
}
.Front-end{
    line-height: 2px;
}



.bottom-container{
    background-color: #66bfbf;
}

.copyright{
    padding:50px 0 20px;
    -webkit-margin-before:1em;
    font-size: 0.75rem;
    padding: 20px 0;
}


.btn {
    font-family: 'Montserrat',sans-serif;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    line-height: 2;
    margin:10px 20px;

  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/**************tag Selectors*************/

body{
    margin: 0;
    text-align: center;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-family: 'Merriweather', serif;
color:#40514E;
}

h1{
    color: #65dbdb;
    font-size: 5.625rem;  
    margin-top: 0 ;
    margin:0 auto;
    font-family: 'Sacramento', cursive;
    margin-top: 50px auto 0 auto;
    font-weight: normal;    
}
h2{
    color: #6cd3d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;   
} 

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}